<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" href="/index">Главная</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/index?p={{ pages.Quiz }}">Опросы</a>
    </li>
    {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="/index?p={{ pages.logout }}">Выйти</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="/index?p={{ pages.login }}">Войти</a>
        </li>
    {% endif %}
</ul>