{% extends "base.html" %} {% block html_title %}Register{% endblock html_title %} {% block body %}
<div id="auth-root" class="bg-gradient-primary">
    <div class="container h-100vh">
        <div class="h-100 row align-items-center justify-content-center">
            <div class="col-lg-5">
                <h1 class="text-white mb-4 font-weight-100 text-center">WebVoteXXL</h1>
                <div class="card shadow border-0">
                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="text-center mb-4">
                            <h4>Remove Account</h4>
                        </div>
                         <div class="text-success mb-4">
                            Your account has been removed successfully.
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6 ml-auto text-right">
                        <a href="/register" class="text-white">
                            <small>Create new account</small>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}