<!DOCTYPE html> {# Базовый шаблон #}
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>{% if html_title %}{{ html_title }}{% else %}{% block html_title %}{% endblock %}{% endif %} | VoteWebXXL</title>
    <!-- Мета-теги: адаптивность и цвет адресной строки в мобильном Google Chrome -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#5e35b1">

    <meta property="og:title" content="{% if html_title %}{{ html_title }} | {% endif %}VoteWebXXL"> {# Подключение статики #}
    <!-- Иконка -->
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <!-- Шрифты -->
    <link type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700,800&amp;subset=cyrillic-ext" rel="stylesheet">
    <!-- Стили -->
    <link type="text/css" href='{% static "vendor/line-awesome/css/line-awesome.min.css" %}' rel="stylesheet">
    <link type="text/css" href='{% static "vendor/bootstrap-datepicker/css/bootstrap-datepicker.min.css" %}' rel="stylesheet">
    <link type="text/css" href='{% static "vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" %}' rel="stylesheet">
    <link type="text/css" href='{% static "css/argon.css" %}' rel="stylesheet">
    <link type="text/css" href='{% static "css/argon-additional-components.css" %}' rel="stylesheet">
    <!-- Собственные стили -->
    <link type="text/css" href='{% static "css/style.css" %}' rel="stylesheet">
    <!-- jQuery и другие скрипты шапки -->
    <script type="text/javascript" src='{% static "vendor/jquery/jquery.min.js" %}'></script>
    <!-- Собственные скрипты -->
    <script src='{% static "js/functions.js" %}'></script>
    <script src='{% static "js/votings.js" %}'></script>
    <script src='{% static "js/upload.js" %}'></script>
</head>

<body>
    <input id="global_scrf_token" value="{{ csrf_token }}" type="hidden">
    {% block body %} {% endblock body %}
    <!-- Модальное окно подтверждения действия -->
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Confirmation</h5>
                </div>
                <div class="modal-body">
                    <p id="confirmModalText">Do you really want to do this?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal" id="confirmModalYes">Yes</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Сообщения -->
    <div id="messages">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{message.tags}}{% endif %} alert-dismissible fade show shadow">
            <span class="d-block mr-5">{{ message }}</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <!-- Скрипты подвала -->
    <script type="text/javascript" src='{% static "vendor/bootstrap/bootstrap.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/argon.min.js" %}'></script>
    <script type="text/javascript" src='{% static "vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js" %}'></script>
    <script type="text/javascript" src="{% static 'vendor/masonry/masonry.pkgd.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Chart.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/moment.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
    <!-- Собственные скрипты -->
    <script type="text/javascript" src="{% static 'js/listeners.js' %}"></script>
</body>

</html>