<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Basic Page Template</title>
    <!-- Этот файл - шаблон подключения всех необходимых ресурсов (не рекомендуется удалять до merge) -->
    <!-- Подключение статики -->
    {% load static %}
    <!-- Шрифты -->
    <link type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700,800&amp;subset=cyrillic-ext" rel="stylesheet">
    <!-- Стили -->
    <link type="text/css" href='{% static "css/argon.css" %}' rel="stylesheet">
    <link type="text/css" href='{% static "vendor/line-awesome/css/line-awesome.min.css" %}' rel="stylesheet">
    <!-- Собственные стили -->
    <link type="text/css" href='{% static "css/style.css" %}' rel="stylesheet">
    <!-- jQuery и другие скрипты шапки -->
    <script type="text/javascript" src='{% static "vendor/jquery/jquery.min.js" %}'></script>
</head>

<body>
    <!-- Шапка -->
    <header class="bg-primary d-flex align-items-center text-white shadow">
        <div class="w-100">
            <div class="container-fluid">
                <div class="row">
                    <!-- Название сайта -->
                    <div class="col-3 side" id="top-logo">
                        <h1 class="text-center text-while" id="top-logo-text">VoteWebXXL</h1>
                    </div>
                    <!-- Общее меню -->
                    <div class="col">
                        <ul class="navbar-nav navbar-expand navbar-nav-hover align-items-lg-center">
                            <li class="nav-item dropdown show">
                                <a href="#" class="nav-link">
                                    <i class="ni ni-ui-04 d-lg-none"></i>
                                    <span class="nav-link-inner--text">Link A</span>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link">
                                    <i class="ni ni-collection d-lg-none"></i>
                                    <span class="nav-link-inner--text">Link B</span>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link">
                                    <i class="ni ni-collection d-lg-none"></i>
                                    <span class="nav-link-inner--text">Link C</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Основное содержимое -->
    <div id="root">
        <div class="w-100">
            <div class="container-fluid">
                <div class="row">
                    <!-- Левая колонка -->
                    <aside class="col-3 side">
                        <div class="w-100">
                           <!-- Даннные текущего пользователя --> 
                            <div class="row">
                                <div class="col-12">
                                    <div class="card shadow-sm">
                                        <div class="card-body">
                                            <img src="https://pp.userapi.com/c846524/v846524647/15b218/B-cPw9HFt7Y.jpg?ava=1" class="shadow avatar avatar-medium d-block ml-auto mr-auto">
                                            <p class="mt-2 lh-120 text-bold text-center">Михаил<br/>Кормановский</p>
                                            <div class="d-flex align-items-center justify-content-between">
                                                <a href="/profile/" title="Перейти на мою страницу"><i class="la la-user"></i></a>
                                                <a href="/settings/" title="Перейти в Настройки"><i class="la la-cog"></i></a>
                                                <a href="/logout/" title="Выйти из аккаунта"><i class="la la-sign-out"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- Меню для авторизованных -->
                            <div class="row mt-4">
                                <div class="col-12">
                                    <div class="card shadow-sm">
                                        <div class="card-body">
                                            <ul class="navbar-nav">
                                                <li class="nav-item">
                                                    <a href="" class="d-flex pb-3 align-items-center">
                                                        <i class="la la-user"></i>
                                                        <p class="m-0 pl-3">Feed</p>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="" class="d-flex pb-3 align-items-center">
                                                        <i class="la la-user"></i>
                                                        <p class="m-0 pl-3">Votings</p>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="" class="d-flex pb-3 align-items-center">
                                                        <i class="la la-user"></i>
                                                        <p class="m-0 pl-3">Notifications</p>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="" class="d-flex pb-3 align-items-center">
                                                        <i class="la la-user"></i>
                                                        <p class="m-0 pl-3">Something else</p>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="" class="d-flex align-items-center">
                                                        <i class="la la-user"></i>
                                                        <p class="m-0 pl-3">Something else 2</p>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- Копирайт -->
                            <div class="row mt-4">
                                <div class="col-12">
                                    <p class="m-0 pl-4 small">&copy; 2019 The VoteWebXXL Team. All rights reserved.</p>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <!-- Центральная колонка -->
                    <main class="col">
                        <div class="w-100">
                            <!-- Контент, разбитый на строки. На каждой странице тут разные строки! -->
                            <!-- Строка имеет класс .row, все, кроме первой, имеют дополнительно класс .mt-4 -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="card shadow-sm">
                                        <div class="card-body">
                                            <h1 class="pb-7">Hello, world!</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-6">
                                    <div class="card shadow-sm">
                                        <div class="card-body">
                                            <h1 class="pb-7">Hello, world!</h1>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card shadow-sm">
                                        <div class="card-body">
                                            <h1 class="pb-7">Hello, world!</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-4">
                                    <div class="card shadow-sm">
                                        <div class="card-body">
                                            <h1 class="pb-7">Hello, world!</h1>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="card shadow-sm">
                                        <div class="card-body">
                                            <h1 class="pb-7">Hello, world!</h1>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="card shadow-sm">
                                        <div class="card-body">
                                            <h1 class="pb-7">Hello, world!</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>
                    <!-- Правая колонка -->
                    <aside class="col-3 side">
                        <div class="w-100">
                            <div class="row">
                                <div class="col-12">
                                    <!-- Меню действий с отображаемым контентом. Например, если отображается голосование, можно изменить или удалить его -->
                                    <ul class="mt-4 navbar-nav">
                                        <li class="nav-item">
                                            <a href="" class="d-flex pb-3 align-items-center">

                                                <p class="m-0">Edit</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="d-flex pb-3 align-items-center">
                                                <p class="m-0">Share</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="d-flex pb-3 align-items-center">

                                                <p class="m-0">Remove</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="d-flex pb-3 align-items-center">

                                                <p class="m-0">Content Action</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="d-flex align-items-center">

                                                <p class="m-0">Another content action</p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <!-- Скрипты подвала -->
    <script type="text/javascript" src='{% static "vendor/bootstrap/bootstrap.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/argon.min.js" %}'></script>
    <!-- Собственные скрипты -->
</body>

</html>