{% extends "basic.html" %}
{% block content %}
<form action="/test-form" method="post">
    <div class="row">
        {% for question in questions %}
        <div class="col-4">
            <div class="question card shadow-sm">
                <div class="card-body">
                    <h2>{{ question.text }}</h2>
                    {% for answer in question.answers %}
                    <div class="custom-control custom-checkbox mb-3">
                        <input class="custom-control-input" id="question_{{ question.id }}_answers_{{ forloop.counter }}" name="answers[{{ question.id }}]" type="checkbox" value="{{ answer }}">
                        <label class="custom-control-label" for="question_{{ question.id }}_answers_{{ forloop.counter }}">{{ answer }}</label>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</form>
{% endblock content %}