<div class="row">
    <div class="col-md-4">
        <div class="modal fade" id="modal-big-img" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body p-0">
                        <img id="big_img" src="#" class="w-100 h-100">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

</script>