{% extends "basic.html" %} {# Шаблон страницы Профиль #} {% block content %}
<div class="row">
    <div class="col-12">
        <div class="card overflow-hidden shadow-sm border-0 h-100">
            <div class="card-body align-items-center row mx-0">
                <div class="col-md-6 col-xl-8 pr-0 pl-0 pl-xxl-4">
                    <div class="py-xl-4 d-flex align-items-center justify-content-center justify-content-xl-start">
                        <img id="profile-avatar" src="{% avatar request profile_owner %}" class="avatar avatar-big shadow-lg">
                        <div id="profile-info" class="w-auto ml-3 ml-xl-4">
                            <h4 class="lh-110 mb-1">
                                {{ profile_owner.first_name }} {{ profile_owner.last_name }}
                            </h4>
                            <h6 class="font-weight-300 lh-100 mt-0">
                                @{{ profile_owner.username }}
                            </h6>
                            <!--
                            <div id="profile-actions" class="d-flex mt-2">
                                <button class="btn btn-primary btn-sm">Follow</button>
                            </div>
                            -->
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4 pt-4 pt-md-0 pl-0 pr-0 pr-xxl-4">
                    <div id="profile-stats">
                        <ul id="profile-stats-list" class="w-100 d-flex align-items-center justify-content-around justify-content-xl-end justify-content-xxl-around m-0 p-0">
                            <li class="profile-stats-item pr-2 pr-md-3">
                                <div>
                                    <p class="font-weight-700 lh-100 m-0 profile-stats-number text-center text-primary">{{ votings|length }}</p>
                                    <p class="lh-100 mt-2 profile-statis-description small text-center text-uppercase mb-0 mb-lg-3">Voting{% if votings|length != 1 %}s{%endif %}</p>
                                </div>
                            </li>
                            <li class="profile-stats-item pr-2 pr-md-3">
                                <div>
                                    <p class="font-weight-700 lh-100 m-0 profile-stats-number text-center text-primary">{{ votes_count }}</p>
                                    <p class="lh-100 mt-2 profile-statis-description small text-center text-uppercase mb-0 mb-lg-3">Vote{% if votes_count != 1 %}s{%endif %}</p>
                                </div>
                            </li>
                            <!--
                            <li class="profile-stats-item pr-2 pr-md-3">
                                <div>
                                    <p class="font-weight-700 lh-100 m-0 profile-stats-number text-center text-primary">2K</p>
                                    <p class="lh-100 mt-2 profile-statis-description small text-center text-uppercase mb-0 mb-lg-3">Followers</p>
                                </div>
                            </li>
                            <li class="profile-stats-item pr-2 pr-md-3 pr-xxl-0">
                                <div>
                                    <p class="font-weight-700 lh-100 m-0 profile-stats-number text-center text-primary">1.1K</p>
                                    <p class="lh-100 mt-2 profile-statis-description small text-center text-uppercase mb-0 mb-lg-3">Following</p>
                                </div>
                            </li>
                            -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4 mb-0">
    <div class="col-12">
        <div class="nav-wrapper">
            <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
                <li class="nav-item">
                    <a class="d-flex align-items-center justify-content-center nav-link mb-sm-3 mb-md-0 active" id="tabs-icons-text-1-tab" data-toggle="tab" href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true"><i class="mr-2 la la-home"></i>Home</a>
                </li>
                <li class="nav-item">
                    <a class="d-flex align-items-center justify-content-center nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-2-tab" data-toggle="tab" href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2" aria-selected="false"><i class="mr-2 la la-user"></i>Activity</a>
                </li>
                <li class="nav-item">
                    <a class="d-flex align-items-center justify-content-center nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-3-tab" data-toggle="tab" href="#tabs-icons-text-3" role="tab" aria-controls="tabs-icons-text-3" aria-selected="false"><i class="mr-2 la la-question"></i>Votings</a>
                </li>
                <li class="nav-item">
                    <a class="d-flex align-items-center justify-content-center nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-5-tab" data-toggle="tab" href="#tabs-icons-text-5" role="tab" aria-controls="tabs-icons-text-5" aria-selected="false"><i class="mr-2 la la-star"></i>Favourites</a>
                </li>
                {% if request.user == profile_owner %}
                <li class="nav-item">
                    <a class="d-flex align-items-center justify-content-center nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-4-tab" data-toggle="tab" href="#tabs-icons-text-4" role="tab" aria-controls="tabs-icons-text-3" aria-selected="false"><i class="mr-2 la la-exclamation"></i>Reports</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<div class="tab-content" id="myTabContent">
    <div class="row active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
        <div class="col-lg-4 col-xl-3">
            <div class="row">
                <div class="col-12">
                    <h5 class="pt-4 text-right h6 mb--4 pb-2">Activity</h5>
                    {% for item in activity_small %}
                    {% include "activity_item.html" with item=item %}
                    {% empty %}
                    <p class="text-center my-5">No activity</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-xl-9">
            <div class="row mb--4">
                <div class="col-12">
                    <h5 class="pt-4 text-right h6">Votings</h5>
                </div>
            </div>
            <div class="row masonry-wrapper">
                {% for voting in votings_small %}
                <div class="masonry-item col-12 col-xl-6 mt-4">
                    {% include "voting.html" with voting=voting voting_small=1 %}
                </div>
                {% empty %}
                <div class="col-12">
                    <p class="text-center my-5">No votings</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row masonry-wrapper" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
        {% for activity_item in activity %}
        <div class="col-12 col-lg-6 col-xl-4 masonry-item">
            {% include "activity_item.html" with item=activity_item %}
        </div>
        {% empty %}
        <div class="col-12">
            <p class="text-center my-5">No activity</p>
        </div>
        {% endfor %}
    </div>
    <div class="row masonry-wrapper" id="tabs-icons-text-3" role="tabpanel" aria-labelledby="tabs-icons-text-3-tab">
        {% for voting in votings %}
        <div class="col-12 col-lg-6 mt-4 masonry-item">
            {% include "voting.html" with voting=voting voting_small=1 %}
        </div>
        {% empty %}
        <div class="col-12">
            <p class="text-center my-5">No votings</p>
        </div>
        {% endfor %}
    </div>
    <div class="row masonry-wrapper" id="tabs-icons-text-5" role="tabpanel" aria-labelledby="tabs-icons-text-5-tab">
        {% for voting in favourite_votings %}
        <div class="col-12 col-lg-6 mt-4 masonry-item">
            {% include "voting.html" with voting=voting voting_small=1 %}
        </div>
        {% empty %}
        <div class="col-12">
            <p class="text-center my-5">No favourite votings</p>
        </div>
        {% endfor %}
    </div>
    {% if request.user == profile_owner %}
    <div class="row mt-4" id="tabs-icons-text-4" role="tabpanel" aria-labelledby="tabs-icons-text-4-tab">
        <div class="col-12">
            <div class="card shadow-sm">
                {% if profile_owner_reports.count %}
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th>ID</th>
                                <th>Datetime of creation</th>
                                <th>Voting</th>
                                <th>Content</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for report in profile_owner_reports %}
                            <tr>
                                <td>{{ report.id }}</td>
                                <td>{{ report.datetime_created_str }}</td>
                                <td><a href="/voting/{{ report.voting.id }}">{{ report.voting.title }}</a></td>
                                <td>
                                    <p class="mb-1">{{ report.title }}</p>{{ report.message }}
                                </td>
                                <td class="font-weight-600 text-{% if report.status == report.REPORT_WAITING %}warning{% elif report.status == report.REPORT_ACCEPTED %}success{% else %}danger{% endif %}">{{ report.status_str }}</td>
                                <td class="td-actions text-right">
                                    <a href="/api/remove/report/{{ report.id }}" class="d-block text-danger dangerous-action">
                                        Remove report
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <div class="card-body">
                    <p class="text-center my-5">No reports</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}