{% load staticfiles %}
<div>
    <script src="{% static "js/ajax.js" %}">
    </script>
    {% if is_found %}
        <table border="1px">
            <tr bgcolor="#7fffd4">
                <th>Quest</th>
            </tr>
            {% for quiz in quiz_test %}
                <tr>
                    <th>
                        <p>{{ quiz.vote_text_question }}</p>
                    </th>
                    <th id="quest_node_{{ quiz.vote_no }}">
                        <button id="Button_ID_{{ quiz.vote_no }}_YES" onclick="QuizSaveOneClick({{ quiz.vote_id.id }}, {{ quiz.vote_no }}, '1')">
                            {{ quiz.vote_text_yes }}
                        </button>
                        <button id="Button_ID_{{ quiz.vote_no }}_NO" onclick="QuizSaveOneClick({{ quiz.vote_id.id }}, {{ quiz.vote_no }}, '0')">
                            {{ quiz.vote_text_no }}
                        </button>
                        <p id="complete_txt_{{ quiz.vote_no }}" style="visibility: hidden; color: green">Complete</p>
                    </th>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h1>Quiz Not found!</h1>
    {% endif %}
</div>