{% extends "basic.html" %} {% block content %}
<div class="row">
    <div class="col-12">
        {% include "quiz.html" with quiz=quiz quiz_test=quiz_test quiz_small=0 %}
    </div>
</div>
{% endblock content %} {% block content_actions %}
{% if quiz.quiz_owner == request.user.id %}
<li class="nav-item">
    <a href="/quiz/{{ quiz.id }}/edit" class="d-flex pb-3 align-items-center">
        <p class="m-0">Edit</p>
    </a>
</li>
<li class="nav-item">
    <a href="/quiz/{{ quiz.id }}/share" class="d-flex pb-3 align-items-center">
        <p class="m-0">Share</p>
    </a>
</li>
<li class="nav-item">
    <a href="/quiz/{{ quiz.id }}/remove" class="text-danger d-flex pb-3 align-items-center">
        <p class="m-0">Remove</p>
    </a>
</li>
{% else %}
<li class="nav-item">
    <a href="/quiz/{{ quiz.id }}/share" class="d-flex pb-3 align-items-center">
        <p class="m-0">Share</p>
    </a>
</li>
<li class="nav-item">
    <a href="/quiz/{{ quiz.id }}/report-abuse" class="text-danger d-flex pb-3 align-items-center">
        <p class="m-0">Report abuse</p>
    </a>
</li>
{% endif %}
{% endblock content_actions %}