{% extends "basic.html" %} {% block content %}
<form action="/voting/create" method="post" onsubmit="return Votings.edit.checkForm(this);" onchange="TurnOnLeaveConfirmationModal();">
    {% csrf_token %}
    <input type="hidden" name="voting_id" value="0">
    <div class="row mt-3">
        <div class="col align-items-center d-flex">
            <h1 class="display-3 lh-100 m-0">New Voting</h1>
            <button type="submit" class="btn btn-primary ml-auto">Save</button>
        </div>

    </div>
    <div class="row mt-4">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-header bg-white">
                    <h3 class="text-muted text-uppercase h6 font-weight-700 mb-0">Voting settings</h3>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="input-title">Title</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="title" id="input-title" placeholder="Name your voting" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-title">Datetime of closing (leave blank to make your voting open forever)</label>
                        <div class="input-group">
                            <input type="text" class="form-control datepicker" data-date-start-date="{% formatted_date 'tomorrow' %}" data-date-format="dd.mm.yyyy" name="datetime_closed" id="input-datetime_closed" value="{% if voting.datetime_closed %}{{ voting.datetime_closed}}{% endif %}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-title">Private voting stats</label>
                        <div class="input-group">
                            <div class="custom-control custom-radio mb-3">
                                <input name="open_stats" class="custom-control-input" id="open_stats_yes" value="0" type="radio" required>
                                <label class="custom-control-label" for="open_stats_yes">Enabled</label>
                            </div>
                        </div>
                        <div class="input-group">
                            <div class="custom-control custom-radio mb-3">
                                <input name="open_stats" class="custom-control-input" id="open_stats_no" value="1" type="radio" required checked>
                                <label class="custom-control-label" for="open_stats_no">Disabled</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mt-4">
            <div class="card shadow-sm">
                <div class="card-header bg-white d-flex justify-content-between align-items-center">
                    <h3 class="text-muted text-uppercase h6 font-weight-700 mb-0">Questions</h3>
                    <button class="btn btn-primary" type="button" id="btn-add-question" onclick="return Votings.edit.openQuestionModal();">Add</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row masonry-wrapper" id="questions">
        <div id="no-questions" class="col-12">
            <h5 class="p-5 text-center">Click Add to add a question</h5>
        </div>
    </div>
</form>
{% include "voting_question_modal.html" %} {% endblock content %}