<div class="modal fade" id="questionModal" tabindex="-1" role="dialog" aria-labelledby="questionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="questionModalLabel">Add question</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/voting/create" method="post" id="question-form">
                    <div class="form-group">
                        <label for="input-text">Question text</label>
                        <div class="input-group">
                            <textarea rows="5" class="form-control" id="input-text" placeholder="Write your question text here" required></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-text">Question image</label>

                        <div class="row">
                            <div class="col-12">
                                <img src="" id="question-image" class="mb-3" height=150>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <input type="hidden" name="image_id" id="question-image-id-input">
                                <div class="custom-file">
                                    <div class="input-group">
                                        <input type="file" accept="image/*" class="custom-file-input upload-image" data-input-id-selector="#question-image-id-input" data-upload-as="question_image" data-image-selector="#question-image" id="question-image-input">
                                        <label class="custom-file-label" for="question-image-input">Choose file</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Question type</label>
                        <div class="custom-control custom-radio mb-3">
                            <input class="custom-control-input input-question-type" name="question-type" id="input-question_type_0" value="0" type="radio" checked required>
                            <label class="custom-control-label" for="input-question_type_0">Single answer (with buttons)</label>
                        </div>
                        <div class="custom-control custom-radio mb-3">
                            <input class="custom-control-input input-question-type" name="question-type" id="input-question_type_1" value="1" type="radio" required>
                            <label class="custom-control-label" for="input-question_type_1">Single answer (with radio inputs)</label>
                        </div>
                        <div class="custom-control custom-radio mb-3">
                            <input class="custom-control-input input-question-type" name="question-type" id="input-question_type_2" value="2" type="radio" required>
                            <label class="custom-control-label" for="input-question_type_2">Multiple answers (with checkboxes)</label>
                        </div>
                    </div>
                    <label for="input-text">Possible answers</label>
                    <div class="form-group row" id="form-group-answers">
                        <div class="input-group col-12 col-md-6 mt-2">
                            <input type="text" class="input-possible-answer form-control" value="Yes">
                            <div class="input-group-append">
                                <button onclick="return Votings.edit.removePossibleAnswerInput(this);" class="dangerous-action btn btn-outline-danger"><i class="la la-times"></i></button>
                            </div>
                        </div>
                        <div class="input-group col-12 col-md-6 mt-2">
                            <input type="text" class="input-possible-answer form-control" value="No">
                            <div class="input-group-append">
                                <button onclick="return Votings.edit.removePossibleAnswerInput(this);" class="dangerous-action btn btn-outline-danger"><i class="la la-times"></i></button>
                            </div>
                        </div>

                    </div>
                    <button type="button" onclick="return Votings.edit.addPossibleAnswerInput();" class="btn btn-outline-primary mt-2 w-100">
                        Add possible answer
                    </button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="return Votings.edit.saveQuestion(this);" class="btn btn-primary" id="question-form-submit">OK</button>
            </div>
        </div>
    </div>
</div>