{% extends "basic.html" %} {% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body shadow-sm">
                <h1 class="display-1 text-center font-weight-100 mt-5 lh-130 mb-3">Voting Library</h1>
                <p class="text-center font-weight-100 mb-4">Find something for you in a wide range of votings!</p>
                <form action="/votings/" method="post">
                    <div class="row">
                        <div class="ml-auto mr-auto border mb-5 col-12 col-md-6 col-lg-4" id="votings-search">
                            <div class="card-body p-0">
                                <input type="search" id="votings-search-query" name="query" placeholder="Enter your query...">
                                <button type="submit" id="votings-search-btn" class="btn btn-primary d-flex p-0 align-items-center justify-content-center">
                                    <i class="la la-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row px-5 justify-content-around">
                        <div class="border mb-5 votings-filter col-12 col-md-6 col-lg-4 col-xl-3" id="votings-filter-owner">
                            <div class="card-body p-0">
                                <input type="search" class="votings-filter-query" id="votings-filter-query-owner" name="query" placeholder="Filter users...">
                                <button onclick="return false;" type="button" id="votings-filter-icon-owner" class="votings-filter-icon btn btn-primary d-flex p-0 align-items-center justify-content-center">
                                    <i class="la la-user"></i>
                                </button>
                            </div>
                        </div>
                        <div class="border mb-5 votings-filter col-12 col-md-6 col-lg-4 col-xl-3" id="votings-filter-date">
                            <div class="card-body p-0">
                                <input type="text" autocomplete="off" class="votings-filter-query datepicker" id="votings-filter-query-date" name="query" placeholder="Filter date...">
                                <button onclick="return false;" type="button" id="votings-filter-icon-date" class="votings-filter-icon btn btn-primary d-flex p-0 align-items-center justify-content-center">
                                    <i class="la la-calendar"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="text-center">
                    <p>or</p>
                </div>
                <div class="d-flex mb-5">
                    <div class="ml-auto mr-auto">
                        <a href="/voting/create" class="d-inline-block btn btn-primary">Create your own voting now</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<h4 class="pt-4 text-center pb-3 mb--4">Results</h4>
<div class="row masonry-wrapper">
    {% for voting in votings %}
    <div class="col-12 col-lg-6 col-xl-4 mt-4 masonry-item">
        {% include "voting.html" with voting=voting voting_small=1 %}
    </div>
    {% endfor %}
</div>
<script>
    jQuery(function($) {
        $(".votings-filter-query.datepicker").datepicker({
            format: 'dd.mm.yyyy',
        });
    });
</script>
{% endblock content %}