* {
    transition-duration: .2s;
}

body {
    background: #f6f3fa;
}

header {
    height: 64px;
    display: flex;
    align-items: center;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

#top-logo-text {
    font-weight: 100;
    font-size: 28px;
    margin: 0;
    line-height: 64px;
    height: 64px;
    color: #fff;
}

.navbar li.nav-item a.nav-link {
    font-size: 1rem;
}

.navbar li.nav-item:hover {
    background: #f4f4f4;
}

.navbar-collapse.collapsing,
.navbar-collapse.show {
    padding: 0;
}

i.navbar-toggler-icon.la.la-bars {
    font-size: 32px;
    text-align: right;
    height: 64px;
    line-height: 64px;
    padding: 0 !important;
    display: block;
    width: auto;
    color: #fff;
}

i.navbar-toggler-icon.la.la-close {
    transform: none;
}

.navbar-toggler {
    padding: 0;
    border: none;
    display: block;
    outline: none !important;
}

nav.navbar.navbar-expand-lg {
    padding: 0;
}

.avatar {
    border-radius: 50%;
    width: auto;
}

.avatar-small {
    height: 48px;
}

.avatar-medium {
    height: 80px;
}

.avatar-big {
    height: 150px;
}

#root {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 96px 0 0;
    overflow: scroll;
}

#root aside,
#root main {
    height: auto;
    overflow: scroll;
    padding-bottom: 48px;
    margin-top: -16px;
}

aside i.la {
    font-size: 1.33em;
}

.mt--4,
.my--4 {
    margin-top: -1.5rem !important;
}

.mr--4,
.mx--4 {
    margin-right: -1.5rem !important;
}

.mb--4,
.my--4 {
    margin-bottom: -1.5rem !important;
}

.ml--4,
.mx--4 {
    margin-left: -1.5rem !important;
}

li.nav-item:hover p {
    color: #9575C1 !important;
    padding-left: 1.5rem !important;
    font-size: 110%;
}

li.nav-item:hover p.small {
    font-size: 90%;
}

/* Стили страницы Профиль */

#profile-cover{
    height: 250px;
}

#profile-info{
    margin-top:-70px;
    z-index: 10;
}

#profile-info h5{
    margin-top:85px;
}

/* Адаптивность */

@media(min-width: 768px) {
    header {
        padding: 0 16px;
    }
    #root {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 96px 16px 0;
    }
    #root aside,
    #root main {
        height: calc(100vh - 64px);
        overflow: scroll;
        padding-top: 48px;
        padding-bottom: 48px;
        margin-top: -48px;
    }
    .side {
        width: 20%;
        max-width: 250px;
    }
}

@media(min-width: 992px) {
    header {
        padding: 0 56px;
    }
    header * {
        color: #fff !important;
    }
    .navbar li.nav-item span {
        font-size: 90%;
        line-height: 64px;
    }
    #top-logo-text,
    .navbar li.nav-item:hover {
        background: #4527a0;
    }
    #root {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 112px 56px 0;
    }
    #root aside,
    #root main {
        height: calc(100vh - 64px);
        overflow: scroll;
        padding-top: 48px;
        padding-bottom: 48px;
        margin-top: -48px;
    }
}